/* Copyright (c) 2018 Himanshu Softtech.
------------------------------------------------------------------
[Table of contents]

1. Google Web Foonts
2. Body
3. Preloader / #preloader
4. Normal Css / .padding_lr
5. Header css / .header
6. Menu css / .fixedmenu
7. title heading / .tr_title h3
8. about us section /.tr_main_head
9. News Section / tr_news_slider
10. Portfolio Section / .tr_new_slider_box
11. Article Section / .tr_left
12. TEAM Section /.tr_team
13. Quotes Section /.tr_quote_slider
14. Contact Section /.tr-contact-info
15. Footer Section /.tr_footer_widget
16. go to top / .totop
17. Inner page /.tr_inner_page_container
18. Portfolio page / .tr_bread
19. contact page / .tr_mapdiv
20. Side Bar /.tr_sidebar
21. single page start / .tr_author_detail_single
22. single-gallery page start /.tr_gallery_single
23. Top Right controlls/.tr_page_topbar 
24. For video/.tr-video-container 
25. Single Portfolio/.tr_page_topbar 
26. Error page/.tr_error_page 
27. responsive css/ .tr_rows
-------------------------------------------------------------------*/
/*---------------------start google web fonts---------------------*/
@font-face {
	font-family: 'Vidaloka';
	font-style: normal;
	font-weight: 400;
	src: local('Vidaloka '), local('Vidaloka-Regular'), url(http://fonts.gstatic.com/s/vidaloka/v8/ggtjDKUwkCAXpO92rmcBQPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaOL2WfuF7Qc3ANwCvwl0TnA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*-----------------------Google web fonts end----------------------*/
/*---------------------body start---------------------*/
body {
	background: #ffffff !important;
	color: #121212;
	font-family: Droid Serif, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.65em;
	letter-spacing: normal;
	margin: 0px;
}
/*---------------------body end---------------------*/
/*---------------------loder css start---------------------*/
#preloader {
background-color: #fff;
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 2147483647;
width: 100%;
height: 100%;
}
#status{
background-position: center center;
background-repeat: no-repeat;
height: auto;
position: absolute;
left: 50%;
top: 50%;
}
/*---------------------loader css end---------------------*/
/*---------------------normal css start---------------------*/
.padding_lr{
	padding-left: 0px;
	padding-right: 0px;
}
.padder_left {
	padding-left: 0px;
}
.push-down-20 {
	margin-bottom: 20px;
}
.push-down-10 {
	margin-bottom: 20px;
}
.push-down-30 {
	margin-bottom: 30px;
}
.push-down-40 {
	margin-bottom: 40px;
}
.top_spacer40{
	margin-top: 40px;
}
.top_padder20{
	padding-top: 20px;
}
.top_padder40{
	padding-top:40px;
}
.tr_opacity {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}
.tr_opacity:hover {
	opacity: .7;
}
::selection {
	background: #E14F4F;
	color: #fff;
	text-shadow: none;
}
.Flexible-container {
	position: relative;
	padding-bottom: 31.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.tr_right_align{
	text-align: right !important;
}
.tr_author_single_img audio{
	float: left;
	width: 100%;
}
.tr-blog-author-img:hover .tr-blog-img-hover {
opacity: 1;
visibility: visible;
transform: scale(1);
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
}
.tr-blog-author-img :hover {
overflow: visible;
}
.tr-blog-author-img img {
width: 100%;
}

.tr-blog-img-hover {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(225,79,79,0.8) url(../images/plusIcon.png) no-repeat center center;
text-align: center;
text-decoration: none !important;
text-align: left;
transition: all 0.17s ease-in-out;
-moz-transition: all 0.17s ease-in-out;
-webkit-transition: all 0.17s ease-in-out;
-o-transition: all 0.17s ease-in-out;
transform: scale(0);
-webkit-transform: scale(0);
-moz-transform: scale(0);
-o-transform: scale(0);
opacity: 0;
visibility: hidden;
}
.tr-blog-author-img {
margin: 2px;
width: 100%;
position: relative;
overflow: hidden;
}
/*---------------------normal css start---------------------*/
/*---------------------Header css start---------------------*/
.header {
float: left;
width: 100%;
}
.tr_header {
	position: relative;
	float: left;
	width: 100%;
	z-index: 999;
	border-bottom: none !important;
	background: #fff;
}
.tr_line {
	background: url(../images/main-border-line.png) repeat-x top;
	padding: 4px 0px;
	width: 100%;
	float: left;
}
/*---------------------Header css end---------------------*/
/*---------------------Menu css start---------------------*/
.fixedmenu {
	display: none;
	position: fixed !important;
	background: #fff;
	background: rgba(255,255,255,0.95);
	margin-top: 0 !important;
	padding: 5px 0 5px 0;
	z-index: 10000;
	border-bottom: 1px solid #eee\9;
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.2);
	box-shadow: 0 1px 7px rgba(0,0,0,0.2);
	width: 100% !important;
	top: 0px;
}
.pagenav.fixedmenu {
	height: 50px;
}
.holder-fixedmenu {
	margin: 0 auto;
	width: 1170px;
	float: none;
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
}
.menu li {
	display: inline-block;
	text-align: center;
}
.menu li a {
	display: inline-block;
	font-family: Vidaloka, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !important;
	text-align: center;
	padding: 4px 10px;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
}
.menu li a:hover {
	color: #E14F4F;
	text-decoration: none;
}
.pagenav.fixedmenu {
	padding: 5px 0 5px 0;
	margin-top: -4px;
}
ul.navbar-nav li a.active, .fixedmenu ul.menu li a.active {
	color: #E14F4F !important;
}
.fixedmenu {
	display: none;
	position: fixed !important;
	background: #fff;
	background: rgba(255,255,255,0.95);
	margin-top: 0 !important;
	padding: 5px 0 5px 0;
	z-index: 9999;
	border-bottom: 1px solid #eee\9;
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.2);
	box-shadow: 0 1px 7px rgba(0,0,0,0.2);
	width: 100% !important;
}
.holder-fixedmenu {
	margin: 0 auto;
}
.fixedmenu .logo-fixedmenu {
	float: left;
	padding-left: 10px;
}
.fixedmenu .logo-fixedmenu img {
	height: 40px;
	margin-top: 0px;
}
.fixedmenu .menu-fixedmenu {
	float: right;
	margin: 8px 12px 0 0;
}
.fixedmenu .menu-fixedmenu li, .fixedmenu .menu-fixedmenu li.current-menu-ancestor {
	border: none;
	background: none;
}
.fixedmenu .menu .pmcbig img {
	width: 50%;
	text-align: center;
	margin-left: 55px
}
.fixedmenu .menu .pmcbig ul.sub-menu li {
	padding: 0;
}
.fixedmenu a {
	color: #1F1F1F;
}
.menu-fixedmenu li {
	padding: 0px !important;
}
.menu-fixedmenu a {
	background: #ED2470;
	padding: 13px;
	margin-top: -13px;
	background: none;
	margin-left: 0 !important;
}
.menu-fixedmenu a.important_color {
	float: left;
}
.tr_right_align ul li:last-child a{
	padding-right: 0px !important;
}
.navbar-header{
    text-align: center;
}
.tr_toggle_menu{
	float: left;
	margin: 1px 10px;
}
.tr_toggle_text{
	font-size: 20px;
	margin: 2px 0px;
	float: left;
}
/*---------------------Menu css end---------------------*/

/*---------------------title heading css end---------------------*/
.tr_title h3 {
	color: rgb(225, 79, 79);
	font-family: 'Droid Serif';
	text-transform: uppercase;
	padding: 0px 45px;
	position: relative;
	display: inline-block;
	font-size: 60px;
	font-family: Vidaloka;
}
.tr_title h3:before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	background: rgb(225, 79, 79);
	left: 30px;
	top: 30px;
	border-radius: 50%;
}
.tr_title h3:after {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	background: rgb(225, 79, 79);
	right: 30px;
	top: 30px;
	border-radius: 50%;
}
.tr_news_title_small {
	color: #444 !important;
	float: left;
	text-align: center;
	margin: 20px 0 30px 0;
	width: 100%;
	font-size: 20px;
}
/*---------------------title heading css end---------------------*/
.tr_page_section {
	width: 100%;
	padding: 0px 0;
	float: left;
}
/*---------------------about us section css end---------------------*/
.tr_main_head {
	position: relative;
	margin: 41px auto;
	background: url(../images/ornament.png) no-repeat bottom;
	float: left;
	width: 100%;
	text-align: center;
}
.tr_head {
	position: relative;
	margin: 40px auto 0px;
	background: url(../images/ornament.png) no-repeat bottom;
	float: left;
	width: 100%;
	text-align: center;
}
.tr_color {
	color: #E14F4F;
}
.tr_title_small {
	float: left;
	width: 100%;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 40px;
}
.tr_main_head .tr_head_title {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.tr_main_head .tr_head_title h2 {
	font-size: 72px !important;
	font-weight: bold;
	line-height: 60px;
	display: inline-block;
	margin: 5px 0 0px 0 !important;
	text-align: center;
}
.tr_social_icon {
       float: left;
       width: 100%;
       margin: 40px auto;
       text-align: center;
}
.tr_social_icon ul {
float: none;
width: 50%;
margin: 0px auto;
}
.tr_social_icon ul li {
float: left;
width: 65px;
height: 65px;
line-height: 65px;
list-style: none;
margin-right:10px;
cursor: pointer;
border: 1px solid #000;
border-radius: 50%;
webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-o-transition: all 0.6s ease-out;
-ms-transition: all 0.6s ease-out;
transition: all 0.6s ease-out;
}
.tr_social_icon ul li a{
float: left;
width: 100%;
}
.tr_social_icon ul li a i {
font-size: 40px;
line-height: 65px;
color: #111111;
}
.tr_social_icon ul li:hover {
opacity: 0.7;
}
.tr_gallery_slider {
	float: left;
	width: 100%;
}
/********About US End***********/
/********News Section Start***********/
.tr_news_slider .bx-wrapper .bx-controls-direction a {
	top: -4%;
	right: 0px;
}
.tr_news_slider .bx-wrapper .bx-prev {
	right: 3.5% !important;
}
.tr_left_img iframe {
	width: 100%;
	height: 354px;
}
.tr_news_slider {
	float: left;
	width: 100%;
}
.tr_thumbnail {
	border: none;
	width: 50%;
	float: left;
}
.tr_fashion_slider .tr_thumbnail {
	float: left;
	width: 100%;
}
.tr_left_img {
	float: left;
	width: 100%;
}
.tr_left_block {
	margin: 0 auto;
	margin-bottom: 25px;
	float: left;
	width: 27%;
	background: #E14F4F;
	color: #fff;
	text-align: center;
	font-family: Vidaloka !important;
	font-weight: normal;
	line-height: 110%;
}
.tr_block_date {
	float: left;
	width: 100%;
	padding-bottom: 30px;
	background: #E14F4F;
}
.tr_block_date .tr_day {
	font-size: 54px;
	line-height: 90px;
	margin: 5px 0 3px 0;
	width: 100%;
	background: url(../images/ornament-blog.png) no-repeat bottom;
}
.tr_block_date .tr_month, .tr_block_date .tr_year {
	display: inline-block;
	margin-top: 5px;
}
.tr_block_date a {
	text-transform: uppercase;
	line-height: 18px;
	font-size: 28px;
	text-align: center;
	color: #fff;
}
.tr_block_date a:hover, .tr_block_date:hover {
	color: #fff;
	opacity: 0.8;
	text-decoration: none;
}
.tr_blog_description {
	border-top: 1px solid #fff;
	width: 100% !important;
	padding: 20px 0px 20px;
	text-align: center;
	text-transform: uppercase;
	float: left;
}
.tr_left_block .tr_blog_description a {
	color: #fff;
}
.tr_right_block {
	margin-left: 15px;
	float: left;
	width: 70%;
}
.tr_author {
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}
/**********News Section End*********/
/**********Portfolio Section Start*********/
.tr_new_slider_box {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.tr_new_slider_box .bx-wrapper .bx-controls-direction a {
	top: -4%;
}
/****Slider****/

.tr_fade_in_slider {
	float: left;
	width: 100%;
	background: url(../images/fashion-commercial1.jpg) no-repeat;
	height: 350px;
	background-size: 100% 100%;
	color: #fff;
	text-align: center;
}
.tr_fashion_slider_box {
	float: left;
	width: 100%;
}
.tr_fade_first {
	font-size: 80px;
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 350px;
	vertical-align: middle;
	position: relative;
}
.tr_fade_in_slider .bx-viewport {
	height: 350px !important;/*height: 100% !important;*/
}
.tr_fade_in_slider .tr_first_text {
	position: absolute;
	top: -17%;
	left: 33%;
}
.tr_fade_in_slider .tr_second_text {
	position: relative;
	margin-top: 16px;
	left: 0%;
	float: left;
	width: 100%;
}
.tr_fade_in_slider .tr_third_text {
	position: absolute;
	top: -12%;
	font-size: 40px;
	opacity: 0.8;
	right: 37%;
}
.tr_main_project_slider .tr_one_third {
	width: 30%;
	float: left;
	height: 300px;
}
.tr_main_project_slider .tr_one_third_mid {
	float: left;
}
.tr_main_project_slider .tr_one_third_right {
	float: left;
	height: 300px;
}
.tr_main_project_slider .tr_one_third_bottom {
	float: left;
	position: absolute;
	top: 300px;
	width: 30%;
	height: 300px;
}
.tr_main_project_slider .tr_one_third_btm_right {
	float: left;
}
.tr_common_slider {
	position: relative;
}
.tr_main_project_slider .tr_common_slider img {
	float: left;
	width: 100%;
	height: 100%;
}
.bx-prev i, .bx-next i {
	color: #fff;
	font-size: 24px;
	line-height: 34px;
}
.tr_recentimage .tr_overdefult {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.tr_recentimage .tr_overdefult {
	background: rgba(225,79,79,0.75) !important;
}
.tr_common_slider:hover .tr_overdefult {
	opacity: 1;
}
.tr_image {
	float: left;
	width: 100%;
	height: 300px;
}
.tr_recentdescription {
	width: 100%;
	margin-top: 107px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}
.tr_recentdescription h3:hover, .tr-home-portfolio-categories a:hover {
	text-decoration: underline;
}
.tr_recentdescription h3 {
	cursor: pointer;
	font-size: 29px !important;
	margin-bottom: 8px;
	padding-bottom: 24px;
	color: #fff;
	background: url(../images/ornament-portfolio.png) no-repeat bottom !important;
}
.tr-home-portfolio-categories a {
	font-size: 16px;
	margin-top: 5px;
	color: #fff !important;
}
.tr_one_third_mid .tr_recentimage .tr_overdefult {
	height: 600px;
}
.tr_one_third_mid .tr_image {
	float: left;
	width: 100%;
	height: 600px;
}
.tr_one_third_mid .tr_recentdescription {
	margin-top: 257px;
}
.tr_tab_slider {
	float: left;
	width: 100%;
}
/**********Portfolio Section End*********/
/**********Article Section Start*********/
.tr_left {
	float: left;
	width: 100%;
	border-right: 1px solid #dddddd;
	padding-right: 15px;
}
.tr_right {
	float: left;
	width: 100%;
}
.tr_dropcap {
	display: block;
	float: left;
	font-size: 52px;
	line-height: 52px;
	margin: 0px 5px 0 0;
}
.tr_articleshead {
	float: left;
	width: 100%;
	text-align: center;
}
.tr_art_head_title h2 {
	color: #e14f4f;
	text-transform: uppercase;
}
.tr_article_title {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px;
	text-align: center;
}
.tr_title_date {
	font-size: 20px;
	background: #fff;
	display: inline-block;
	padding: 0 30px;
}
.tr_article_title h3 {
	font-size: 40px !important;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	padding: 24px 0 21px 0;
	margin-bottom: 35px;
	margin-top: -13px;
}
.tr_left p img {
	float: left;
	margin-right: 20px;
}
.tr_right p iframe {
	float: right;
	margin-right: 20px;
}
.tr_slider2 {
	float: left;
	width: 100%;
}
.tr_min_height {
	float: left;
	width: 100%;
	min-height: 680px;
}
#bgvid {
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: auto;
	z-index: 0;
	background-size: cover;
}
.tr_video_text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 40%;
}
.tr_video_text h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: #fff;
	margin-bottom: 40px;
}
.tr_video_button a {
	color: #fff !important;
	padding: 15px 40px 15px 40px !important;
	border: 2px solid #fff;
	font-size: 16px;
	background: rgba(225,79,79,0.7) !important;
}
.tr_video_button a:hover {
	text-decoration: underline;
}
/**********Article Section End*********/
/***********TEAM Section Start**********/
.tr_team {
	width: 100%;
	float: left;
}
.tr_team_member {
	border: 1px solid #eee;
	padding: 9px 20px 20px;
	border-radius: 5px;
	border-bottom: double #eee;
	text-align: center;
	float: left;
	margin-right: 4%;
	width: 100%;
}
.tr_team_image img {
	display: inline-block;
	border-radius: 70%;
	width: 100%;
	border-radius: 70%;
	border: 3px solid #ddd;
	margin-top: 32px;
}
.tr_name {
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-bottom: 50px;
	background: url(../images/ornament-team.png) no-repeat bottom;
	float: left;
	text-align: center;
	width: 100%;
	font-family: Vidaloka;
}
.tr_role {
	display: inline-block;
	padding: 15px 15px 10px 15px;
	text-transform: uppercase;
	font-size: 22px;
	color: #E14F4F;
}
.tr_team_social {
       float: left;
       width: 100%;
}
.tr_team_social ul {
float: left;
width: 100%;
padding: 0px;
margin: 0px;
}
.tr_team_social ul li {
list-style: none;
background: #bbb;
width: 52px;
height: 52px;
border-radius: 90px;
display: inline-block;
}
.tr_team_social ul li a {
float: left;
width: 100%;
}
.tr_team_social ul li a i {
color: #fff;
font-size: 30px;
line-height: 52px;
}
/*.tr_team_social {
	float: left;
	width: 100%;
}
.tr_twitter, .tr_facebook, .tr_printrest, .tr_dribbble{
	background: #bbb;
	width: 52px;
	height: 52px;
	border-radius: 90px;
	display: inline-block;
}*/
.tr_twitter:hover {
	background: #00b6f3;
}
.tr_facebook:hover {
	background: #3b5998;
}
.tr_printrest:hover {
	background: #cb2027;
}
.tr_dribbble:hover {
	background: #ea4c89;
}
/***********TEAM Section End**********/
/***********Quotes Section Start**********/
.tr_quote_slider {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.tr-article-title {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 120px;
}
.tr_border {
	width: 100%;
	height: 1px;
	background: #ccc;
}
.tr_quote_author {
	font-size: 26px;
	background: #fff;
	padding: 0px 20px;
	display: inline-block;
	top: -12px;
	position: relative;
}
.tr-author-text {
	border-bottom: 1px solid #ddd;
	display: inline-block;
}
.tr-article-title p {
	font-size: 22px !important;
	border-bottom: none;
	border-top: none;
	padding: 24px 0 21px 0;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 30px;
}
.fa {
	color: #E14F4F;
}
/***********Quotes Section End**********/
/***********Contact Section Start**********/
.tr-contact-info {
	width: 100%;
	height: 100%;
	background-image: url(../images/quote-background-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 80px;
}
.tr-contact-info label{color:#fff;}
#tr_contacthead {
	width: 100%;
	text-align: center;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 0px;
	text-align: center;
	width: 100%;
}
#tr_contacthead h1 {
	margin: 60px 0px 15px;
	color: #fff;
	text-transform: uppercase;
}
.tr-contact-description {
	color: #fff !important;
	font-size: 22px;
	margin-bottom: 40px;
	font-family: Vidaloka !important;
	width: 100%;
}
#contacthead .head-title {
	margin: 0px;
	width: 100%;
}
.tr_form_control {
	display: block;
	width: 90%;
	line-height: 1.428571429;
	color: #fff;
	vertical-align: middle;
	background-color: rgba(215,215,215,0.3);
	border: none;
	border-radius: 0px;
	border-bottom: none;
	font: 99% sans-serif;
	padding: 10px 12px;
}
.tr_textarea {
	width: 100%;
}
.tr_btn {
background: #E14F4F;
color: #fff;
border-radius: 0px;
text-transform: uppercase;
border: none;
float: left;
margin-top: 15px;
font-size: 24px ;
border-bottom: 4px solid #d13939;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
padding: 9px 58px;
font-family: Vidaloka !important;
}
.tr_btn:hover {
	background: #d13939 !important;
	border-bottom: 4px solid #E14F4F !important;
	color: #fff;
}
.tr_contact_right {
	color: #fff;
	float: left;
	width: 100%;
	margin-left: 28px;
}
.tr_phone_no {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	float: left;
	width: 100%;
}
/***********Contact Section End**********/
/***********Footer Section Start**********/				  
.tr_footer_widget {
	float: left;
	width: 100%;
	padding: 30px 0px;
}
.tr_footer_description {
	float: left;
	width: 100%;
}
.tr_widget {
	position: relative;
	padding-bottom: 20px;
}
.tr_footer_title {
	width: 100%;
	float: left;
	font-weight: normal;
	font-size: 32px;
	padding: 0 0 20px 0 !important;
}
.tr_post1 {
	float: left;
	width: auto;
	margin-bottom: 10px;
}
.tr_post_info {
	float: left;
	margin-left: 10px;
	width: 57%;
}
.tr_post_info h6 a {
	color: #111;
	font-size: 14px;
	font-family: Droid Serif, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !important;
}
.tr_post_info h6 a:hover {
	text-decoration: none;
	color: #E14F4F;
}
.tr_footer_tag_description a {
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	font-size: 13px !important;
	padding: 2px 7px 2px 7px;
	margin-bottom: 4px;
	display: inline-block;
	background: #E14F4F;
}
.tr_footer {
	float: left;
	width: 100%;
	padding: 50px 0px;
	border-top: 1px solid #ccc;
}
footer {
	background: #111;
	width: 100%;
	float: left;
}
.tr_copyright {
	color: #fff;
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 29px;
	padding-bottom: 29px;
}
/***********Footer Section End**********/
/*****go to top*******/
.totop {
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
	display: none;
}
.gototop {
	background: #2f2f2f;
	height: 50px;
	width: 50px;
	z-index: 9;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
}
.arrowgototop {
	background: url(../images/goToTopArrow.png) no-repeat;
	position: relative;
	left: 19px;
	top: 21px;
	width: 28px;
	height: 90px;
	z-index: 10;
}
.gototop:hover {
	background-color: rgba(225,79,79,1) !important;
}
/********Go top End*******/
/********Inner page*******/
.tr_inner_page_container {
	float: left;
	width: 100%;
	padding: 30px 0px 100px;
}
/********Inner page*******/
/********Portfolio page*******/
.tr_bread{
	width: 100%;
	float: left;
	margin-top: 0px;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
	border-top: 1px solid #e6e6e6;
}
.tr_bread ol li a{
	color: #111;
}
.tr_bread ol li a:hover ,.tr_bread ol li a.active{
	color: #E14F4F;
	text-decoration: none;
}
.tr_mix_grid  .tr_port_one_third{
	float: left;
	width: 33%;
}
.tr_port_recentimage .tr_port_overdefult {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.tr_port_recentimage .tr_port_overdefult {
	background: rgba(225,79,79,0.75) !important;
}
.tr_port_recentdescription {
	width: 100%;
	margin-top: 23%;
	color: #fff;
	cursor: pointer;
	text-align: center;

}
.tr_port_recentdescription h3:hover, .tr-page-portfolio-categories a:hover {
	text-decoration: underline;
}
.tr_port_recentdescription h3 {
	cursor: pointer;
	font-size: 29px !important;
	margin-bottom: 8px;
	padding-bottom: 24px;
	color: #fff;
	background: url(../images/ornament-portfolio.png) no-repeat bottom !important;
}
.tr_show_overlay {
	position: relative;
}
.tr_port_recentimage .tr_port_overdefult {
	background: rgba(225,79,79,0.75) !important;
}
.tr_show_overlay:hover .tr_port_overdefult{
	opacity: 1;
}
.tr_port_image {
	float: left;
	width: 100%;
}
#grid .mix {
	opacity: 0;
	display: none;
}
.tr_filter{
	float: left;
	width: 100%;
	text-align: center;
}
.tr-page-portfolio-categories a {
	font-size: 16px;
	margin-top: 5px;
	color: #fff !important;
	text-transform: capitalize;
}
ul.tr_filter_title{
	display: inline-block;
}
ul.tr_filter_title li{
	float: left;
	list-style: none;
}
ul.tr_filter_title li a{
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: #333 !important;
	border: 2px solid #333;
	margin-right: 20px;
	padding: 5px 15px !important;
	border-radius: 5px;
	display: inline-block;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
ul.tr_filter_title li a:hover , ul.tr_filter_title li a.active{
	border: 2px solid #E14F4F;
	color: #E14F4F !important;
	text-decoration: none;
}

/********Portfolio page End*******/
/*******contact page start********/
.tr_mapdiv {
float: left;
width: 100%;
}
.padding-lr{
padding-left:0px !important;
padding-right:0px !important;
}
p#err {
float: right;
margin-top: 28px;
}
/********contact page end*******/
/**********Side Bar**************/
.tr_sidebar{
	float: left;
	width: 100%;
}
.tr-recent-posts{
	float: left;
	width: 100%;
}
.tr-recent-posts h4{
	margin-top: 0px;
}
.tr-widget-line{
	width: 20%;
	margin-bottom: 20px;
	border-bottom: 3px solid #E14F4F;
}
.tr_recent_posts_section{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.tr_recent_posts_section .tr_sidebar_img{
	float: left;
	margin: 0;
	margin-right: 10px;
}
.tr_recent_posts_section .tr-author-widget-title{
	float: left;
}
.tr_recent_posts_section .tr-author-widget-title h6, .tr_recent_posts_section .tr-author-widget-title h6 a{
	float: left;
	font-size: 14px;
	color: #111;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	font-weight: normal;
	font-family: Droid Serif, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !important;
}
 .tr_recent_posts_section .tr-author-widget-title h6 a:hover{
	color: #E14F4F;
	text-decoration: none;
}
ul.tr_categories{
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
ul.tr_categories li{
	list-style: none;
	line-height: 2em;
}
ul.tr_categories li a{
	color: #111;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	font-size: 14px;
}
ul.tr_categories li a:hover{
	color: #E14F4F;
	text-decoration: none;
}
.tr-tag-description a{
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	font-size: 13px !important;
	padding: 2px 7px 2px 7px;
	margin-bottom: 4px;
	display: inline-block;
	background:#E14F4F;
}
.tr_search input[type=text]{
	float: left;
	outline: none !important;
	padding: 10px;
	margin: 0 10px 10px 0;
	background-color: #f9f9f9;
	border: 1px solid #eee;
	color: #aaa;
	width: 100%;
}
/**********Side Bar end**********/
/****single page start****/
.tr_author_detail_single {
float: left;
width: 100%;
}
.tr_author_single_img{
float:left;
width:100%;
margin-bottom:5px;
}
.tr_post_title {
float: left;
width: 100%;
margin: 10px 0px;
font-weight: bold;
}
.tr_post_title h2 a {
	margin-top: 0px;
	line-height: 1.2em;
	color: #111;
	text-transform: capitalize;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tr_post_title h2 a:hover {
	color: #E14F4F;
	text-decoration: none;
}
.tr_post_title p {
margin-bottom: 0px !important;
}
.tr_author_detail_single p {
margin-bottom: 1.5em;
float: left;
width: 100%;
}
.tr_author_detail_single h5 {
margin-top: 0px;
float: left;
width: 100%;
}
ul.tr_arrow_point {
float: left;
width: 100%;
padding-top: 1em;
padding-bottom: 1em;
margin-bottom: 0px;
}
ul.tr_arrow_point li {
float: left;
width: 100%;
list-style: none;
position: relative;
padding: 5px 25px;
}
ul.tr_arrow_point li:before {
content: '';
position: absolute;
width: 10px;
height: 20px;
line-height: 20px;
background: url(../images/bullet.png) no-repeat 0px 9px;
left: 0px;
}
.tr_author_detail_single h3 {
float: left;
width: 100%;
margin-top: 0px;
color:#111;
}
ul.tr_tags {
float: left;
width: 100%;
padding: 0px;
margin: 3px 10px 12px 0px;
padding-bottom: 30px;
}
ul.tr_tags li {
float: left;
list-style: none;
padding-right: 5px;
color: #111;
}
ul.tr_tags li a, ul.tr_tags li i.fa {
color: #111;
font-style: italic;
}
ul.tr_tags li a:hover {
color: #E14F4F;
text-decoration: none;
}
.tr_share_link {
position: relative;
float: left;
margin: 0px 10px 12px 0;
padding-bottom: 15px;
padding-top: 20px;
border-bottom: 1px solid #ededed;
border-top: 1px solid #ededed;
width: 100%;
}
.tr_share_title {
float: left;
padding-top: 10px;
}
.tr_share_icon {
float: right;
text-align: center;
}
.tr_share_icon ul {
padding: 0px;
margin: 0px;
}
.tr_share_icon ul li {
height: 44px;
width: 44px;
line-height: 44px !important;
display: inline-block;
border-radius: 50%;
background: #bbb; 
}

.tr_share_icon ul li a {
float: left;
width: 100%;
}
.tr_share_icon ul li a i {
color: #fff;
font-size: 25px;
line-height: 44px;
}
.tr_related_post {
float: left;
width: 100%;
padding-top: 50px;
}
.tr_related_post h2 {
margin-top: 0px;
margin-bottom: 30px;
color: #111;
}
.tr_re_post_data {
float: left;
width: 100%;
margin-bottom: 30px;
}
.tr_re_post_data ul {
float: left;
width: 100%;
padding: 0px;
margin: 0px;
}
.tr_re_post_data ul li {
float: left;
width: 27%;
list-style: none;
text-align: center;
margin-right: 20px;
}
.tr_re_post_data ul li a img {
border: 8px solid #1f1f1f;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
}
.tr_re_post_data ul li span a {
color: #121212;
font-weight: bold;
 -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out; 
}
.tr_re_post_data ul li:hover span a{
color: #E14F4F;
text-decoration: none;
}
.tr_re_post_data ul li:hover a img{
border-color: #E14F4F;
}
.tr_comment_section {
float: left;
width: 100%;
padding-top: 15px;
}
.tr_comment_section h2 {
margin: 0 0px 30px 0;
}
ol.tr_commentlist {
float: left;
width: 100%;
padding: 0px;
margin: 0px;
}
ol.tr_commentlist li {
float: left;
list-style: none;
width: 100%;
padding: 10px 20px 30px 0px;
margin: 0px 5px 30px 0;
border-bottom: 1px solid #eee;
}
ol.tr_commentlist li .tr_comment_div {
float: left;
width: 100%;
}
ol.tr_commentlist li .tr_comment_div a {
float: left;
width: 100%;
font-size: 18px;
text-transform: capitalize;
font-weight: bold;
color: #111;
}
ol.tr_commentlist li .tr_comment_div a:hover {
color: #E14F4F;
text-decoration: none;
}
ol.tr_commentlist li .tr_comment_div .tr_comment_datentime {
float: left;
width: 100%;
color: #E14F4F;
font-style: italic;
}
ol.tr_commentlist li .tr_cauthor_pic {
float: left;
width: auto;
margin: 20px 20px 0px 0px;
}
ol.tr_commentlist li .tr_cauthor_data {
margin-top: 20px;
float: left;
width: 82%;
margin: 6px 0 0 0px;
padding: 10px 0 0 0px;
}
ol.tr_commentlist li .tr_cauthor_data p {
float: left;
width: 100%;
margin-bottom: 0px;
padding-left: 0;
text-align: justify;
}
ol.tr_commentlist li .tr_comment_div a.tr_reply {
width: auto;
margin: 5px 0px 10px 100px;
float: right;
padding: 5px 22px 0px 12px;
color: #E14F4F;
font-weight: normal;
font-size: 16px;
}
ol.tr_commentlist li .tr_comment_div a.tr_reply:hover{
text-decoration:underline;
}
.tr_comment_form {
float: left;
width: 100%;
margin-top: 20px;
}
.tr_comment_form h2 {
margin-top: 0px;
color: #111;
}
.tr_cform {
float: left;
width: 100%;
margin-top: 20px;
}
.tr_form_group_full{
width:100% !important;
}
.tr_cform .form-inline .form-group:nth-child(3) {
margin-right: 0px;
}
.tr_submit{
text-transform: uppercase;
border: none;
font-size: 16px !important;
color: #fff;
float: left;
background: #A0A0A0;
padding: 10px 13px;
margin-top: 10px;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
}
.tr_submit:hover {
background: #E14F4F;
}
/*****single page end******/
/****single-gallery page start****/
.tr_gallery_single {
float: left;
width:100%;
}
.tr_sgallery {
float: left;
padding: 5px;
margin: 0px 17px 10px 0px;
border: 2px dashed #E14F4F;
background: #dddddd !important;
}
.tr_sgallery a {
float: left;
width: 100%;
position: relative;
}
.tr_hover {
display: block;
cursor: pointer;
position: absolute;
z-index: 99 !important;
width: 95px;
height: 95px;
margin: 0px 0 0 0px;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.tr_hover:hover {
opacity: 1;
background-color: #000;
filter: alpha(opacity=70);
background-color: rgba(0,0,0,0.6);
}
ul.gallery {
float: left;
width: 100%;
padding: 0px;
margin: 0px;
}
ul.gallery li {
float: left;
list-style: none;
}
/****single-gallery page end****/
/*****Top Right controlls******/
.tr_page_topbar {
position: relative;
}
.tr_post_slider {
float: right;
margin-top: 10px;
}
.tr_post_slider a {
background: #CDCDCD;
text-align: center;
float: left;
width: 27px;
height: 27px;
line-height: 27px;
margin-left: 2px;
}
.tr_post_slider a i {
color: #fff;
}
.tr_postslider_title {
display: none;
z-index: 9;
position: relative;
}
.tr_post_slider a:hover .tr_postslider_title {
display: block;
background: #fff;
border: 1px solid #ddd;
color: #575757;
font-size: 12px;
padding-left: 10px;
margin-top: 12px;
text-decoration: none;
position: absolute;
padding-right: 10px;
min-width: 150px;
text-align: left;
right: 0px;
}
.tr_post_slider a:hover {
background: #E14F4F !important;
}
/*****Top Right controlls End******/
/******For video responsive********/
.tr-video-container{
	position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.tr-video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
border:none;
}
/********For video responsive End********/
/*******Single Portfolio Start*******/
.tr_portfolio_right{
	float: left;
	width: 100%;
	padding-top: 10px;
}
.tr_portfolio_right .tr_datecomment{
	padding: 10px 0px 10px 20px;
	line-height: 26px;
	background: #fff;
	border: 1px solid #f1f1f1;
	font-size: 15px;
}
.tr_datecomment p{
	margin-bottom: 0px;
}
.tr_datecomment .tr_for_label{
	float: left;
	font-weight: bold;
	margin: 0;
	color: #111;
	margin-right: 5px;
}
.tr_for_label i{
	color: #111;
	margin-right: 5px;
}
.tr_icon_color{
	margin-right: 10px;
}
/*******Single Portfolio End*******/
/*******Error Start*******/
.tr_error_page{
width:100%;
float:left;
background:#E14F4F;
}
.tr_error_page .tr_error h2 {
line-height: 1.2em;
font-size: 72px !important;
text-align: center;
padding: 20px 0 0 0;
color:#fff;
}
.tr_error_page .tr_error_content {
margin-top: 50px;
text-align: center;
color:#fff;
}
.tr_home_img{
float: left;
width: 100%;
text-align: center;
}
.tr_home_img .fa
{
color:#fff;
font-size:50px;
}
/*******Error End*******/
/*******Media Css**********/
@media (min-width: 1200px) {
.tr_rows {
	display: none;
}
}
/* Large desktop */
@media (max-width: 1180px) {
/*Small device Start*/

.tr_rows .tr_thumbnail {
	width: 100%;
	text-align: -webkit-center;
	float: left;
}
.tr_rows .tr_center{
float: left;
width: 100%;
}
.tr_left_block1 {
	margin: 0 auto;
	margin-bottom: 25px;
	width: 18%;
	background: #E14F4F;
	color: #fff;
	text-align: center;
	font-family: Vidaloka !important;
	font-weight: normal;
	line-height: 110%;
	left: 60%;
}
.tr_right_block1 {
float: left;
width: 100%;
padding: 2px 0px 27px 0px;
}
/*Small device End*/
}
@media (min-width: 1180px) {
.tr_fourth_menu>ul li a{
       padding: 35px 10px !important;
}
.tr_tab_slider {
	display: none;
}
.tr_tabs_slide_section .bx-controls {
	display: none;
}
.tr_fade_in_slider {
	height: 323px;
}
/*.tr_social_icon ul {
width: 80%;
}*/
}
 @media (min-width: 980px) and (max-width: 1180px) {
.tr_fourth_menu>ul li a {
padding: 35px 8px !important;
font-size: 20px;
}
 .pagenav.fixedmenu{
display: none !important;
}
  .nav > li > a{
padding: 35px 10px !important;
}
.tr_title h3{
    font-size:40px;
    padding:0px;
}
.tr_main_head .tr_head_title h2 {
    font-size: 44px !important;
}
.tr_title h3:before , .tr_title h3:after{
    display:none;
}
.tr_main_project_slider {
	display: none;
}
.tr_social_icon ul {
width: 88%;
}
.tr_new_slider_box .bx-controls {
	display: none;
}
.tr_rows {
	visibility:visible;
}
.title-small {
	font-size: 24px;
}
.tr_team_image img{
    width:69%;
}
.tr_news_slider {
    display:none;
}
.tr_news_media {
	width: 100%;
	float: left;
}
.tr_news_media.tr_left_img {
	width: 100%;
}
.tr_fade_in_slider {
	height: 200px;
}
.tr_fade_first {
	line-height: 190px;
	font-size: 55px;
}
.tr_fade_in_slider .tr_first_text {
	font-size: 60px;
	line-height: 90px;
	top: 0%;
}
.tr_fade_in_slider .tr_third_text {
	right: 30%;
}
/*Contact*/
.padding-lr {
padding-right: 22px !important;
}
/*Portfolio*/
.breadcrumb{
   text-align:center;
}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.tr_fourth_menu>ul li a {
padding: 35px 6px !important;
font-size: 20px;
}
.tr_mix_grid .tr_port_one_third{
	width: 50%;
}
.tr_small_logo{
	float: left;
	width: 100%;
}
.tr_small_logo img{
	float: none;
	margin: 0 auto;
}
.tr_small_menu{
	text-align: center !important;
}
.pagenav.fixedmenu{
display: none !important;
}
 .nav > li > a{
padding: 35px 8px !important;
font-size: 18px;
}
.tr_title h3{
    font-size:40px;
    padding:0px;
}
.tr_main_head .tr_head_title h2 {
    font-size: 44px !important;
}
.tr_title h3:before , .tr_title h3:after{
    display:none;
}
.tr_social_icon ul {
width: 88% !important;
}
.tr_main_project_slider {
	display: none;
}
.tr_new_slider_box .bx-controls {
	display: none;
}
.tr_news_slider {
    display:none;
}
.tr_min_height{
    min-height:500px;
}
.tr_video_text
{
    top:30%;
}
.tr_team_image img{
    width:70%;
}
.tr_video_text h1 {
	font-size: 24px;
	font-weight:normal;
}
.tr_fade_in_slider {
	height: 180px;
}
.tr_fade_first {
	line-height: 190px;
	font-size: 55px;
}
.tr_fade_in_slider .tr_first_text {
	font-size: 60px;
	line-height: 90px;
	top: 0%;
}
.tr_fade_in_slider .tr_third_text {
	right: 30%;
}
/*Contact-page*/
.padding-lr {
padding-right: 22px !important;
}
/*Portfolio-page*/
.breadcrumb{
   text-align:center;
}
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
ol.tr_commentlist li .tr_comment_div a.tr_reply{
	padding-right: 0px;
}
ol.tr_commentlist li .tr_cauthor_data{
	width: 100%;
}
ul.tr_filter_title{
	padding: 0px;
}
ul.tr_filter_title li{
	padding: 10px 0px;
}
.tr_mix_grid .tr_port_one_third{
	width: 50%;
}
.tr_small_logo{
	float: left;
	width: 100%;
}
.tr_small_logo img{
	float: none;
	margin: 0 auto;
}
.tr_small_menu{
	text-align: center !important;
}
.pagenav.fixedmenu{
display: none !important;
}
#main-nav{
height: auto;
width: 26%;
margin: auto;
border: 1px solid #eee;
margin-bottom: 40px;
min-width: 186px;
}
 .nav > li > a{
padding: 2px 0px 2px 34px !important;
font-size: 14px;
font-family: Vidaloka !important;
text-align: left;
}
.tr_title h3{
    font-size:44px;
    padding:0px;
}
.tr_main_head .tr_head_title h2 {
    font-size: 54px !important;
}
.tr_title h3:before , .tr_title h3:after{
   display:none;
}
.tr_social_icon ul {
width: 90% !important;
}
.tr_social_icon ul li
{
margin: 5px;
}
.tr_main_project_slider {
	display: none;
}
.tr_new_slider_box .bx-controls {
	display: none;
}
.tr_news_slider {
    display:none;
}
p iframe {
	display: none;
}
.tr_fade_in_slider {
	height: 165px;
}
.tr_fade_first {
	line-height: 190px;
	font-size: 38px;
}
.tr_fade_in_slider .tr_first_text {
	font-size: 56px;
	line-height: 80px;
	top: 0%;
}
.tr_fade_in_slider .tr_third_text {
	 right: 20%;
}
.tr_team_member {
	width: 80%;
    margin-left: 10%;
}
.tr_team_image img {
    width: 70%;
}
.tr_left_block1{
      width:27%;
}
.tr_min_height{
      min-height:300px;
}
.tr_video_text{
      top:42%;
}
.tr_video_text h1 {
     font-size: 24px;
     font-weight:normal;
}
.tr_video_button a{
     display:none;
}
/*Contact*/
.padding-lr {
padding-left: 8px !important;
padding-right: 12px !important;
}
/*Portfolio*/
.breadcrumb{
   text-align:center;
}
.tr_share_title{
   display:none;
}
.tr_share_icon {
   float: none;
}
}

/* Landscape phones and down */
@media (max-width: 479px) {
ol.tr_commentlist li .tr_comment_div a.tr_reply{
	padding-right: 0px;
}
ol.tr_commentlist li .tr_cauthor_data{
	width: 100%;
}
ul.tr_filter_title{
	padding: 0px;
}
ul.tr_filter_title li{
	padding: 10px 0px;
}
.tr_small_logo {
float: left;
width: 100%;
}
.tr_small_logo img {
float: none;
margin: 0 auto;
}
.pagenav.fixedmenu{
    display: none !important;
}
#main-nav{
	height: auto;
	width: 42%;
	margin: auto;
	border: 1px solid #eee;
	margin-bottom: 40px;
	min-width: 186px;
}
 .nav > li > a{
	padding: 2px 0px 2px 34px !important;
	font-size: 14px;
	font-family: Vidaloka !important;
	text-align: left;
}
.tr_title h3{
     font-size:44px;
     padding:0px;
}
.tr_main_head .tr_head_title h2 {
     font-size: 54px !important;
}
.tr_title h3:before , .tr_title h3:after{
     display:none;
}
.tr_social_icon ul
{
width:100%;
}
.tr_social_icon ul li
{
margin: 5px;
}
.tr_main_project_slider {
	 display: none;
}
.tr_new_slider_box .bx-controls {
	 display: none;
}
.tr_team_member{
    width:85%;
    margin-left:5%;
  }
.tr_team_image img{
    width:70%;
}
.tr_min_height{
    min-height:300px;
}
.video-text h1 {
	font-size: 24px;
}
.contact-description {
	font-weight: normal;
	line-height: 1em;
}
p iframe {
	display: none;
}
.twitter, .facebook, .printrest, .dribbble {
	float: left;
	margin-left: 20px;
}
.article-title p {
	font-size: 17px !important;
}
.tr_news_slider {
    display:none;
}
.tr_fade_in_slider {
	height: 150px;
}
.tr_fade_first {
	line-height: 170px;
	font-size: 30px;
}
.tr_fade_in_slider .tr_first_text {
	font-size: 41px;
	line-height: 90px;
	top: 0%;
}
.tr_fade_in_slider .tr_third_text {
	right: 23%;
}
.tr_fade_in_slider .tr_third_text {
	font-size: 30px;
}
.tr_left_block1{
    width:41%;
}
.tr_left{
    padding-right: 0px;
	padding: 0 15px 0 5px;
}
.tr_video_text h1 {
    font-size: 24px;
    font-weight:normal;
}
.tr_video_button a{
    display:none;
} 
/*Contact*/
.padding-lr {
padding-left: 8px !important;
padding-right: 8px !important;
}
/*Portfolio*/
.breadcrumb{
   text-align:center;
}
.tr_mix_grid .tr_port_one_third {
    float: left;
    width: 100%;
} 
.tr_share_title{
   display:none;
}
.tr_share_icon {
   float: none;
}
}
 @media (max-width: 380px) {
ol.tr_commentlist li .tr_comment_div a.tr_reply{
	padding-right: 0px;
}
ol.tr_commentlist li .tr_cauthor_data{
	width: 100%;
}
ul.tr_filter_title{
	padding: 0px;
}
ul.tr_filter_title li{
	padding: 10px 0px;
}
.tr_small_logo {
	float: left;
	width: 100%;
}
.tr_small_logo img {
	float: none;
	margin: 0 auto;
}
.pagenav.fixedmenu{
	display: none !important;
}
#main-nav{
	height: auto;
	width: 55%;
	margin: auto;
	border: 1px solid #eee;
	margin-bottom: 40px;
	min-width: 186px;
}
 .nav > li > a{
	padding: 2px 0px 2px 34px !important;
	font-size: 14px;
	font-family: Vidaloka !important;
	text-align: left;
}
.tr_title h3{ 
    padding:0px;
    font-size:36px;
}
.tr_main_head .tr_head_title h2 {
    font-size: 54px !important;
}
.tr_title h3:before , .tr_title h3:after{
    display:none;
}

.tr_main_project_slider {
	display: none;
}
.tr_new_slider_box .bx-controls {
	display: none;
}
.tr_team_member{
    margin-left:0%;
    width:100%;
}
.tr_team_image img{
    width:70%;
}

.tr_twitter img, .tr_facebook img, .tr_printrest img, .tr_dribbble img{
 width: 100%;
}
.tr_news_slider {
    display:none;
}
.tr_fade_in_slider {
	height: 100px;
}
.tr_fade_first {
	line-height: 112px;
	font-size: 15px;
}
.tr_fade_in_slider .tr_first_text {
	font-size: 23px;
	line-height: 40px;
	top: 0%;
}
.tr_fade_in_slider .tr_second_text {
	font-size: 23px;
	line-height: 69px;
	top: 0%;
}
.tr_fade_in_slider .tr_third_text {
	  right: 21%;
}
.tr_fade_in_slider .tr_third_text {
	  font-size: 23px;
	  line-height: 69px;
}
.tr_left_block1{
       width:59%;
}
.tr_min_height{
     min-height:200px;
}
.tr_video_text{
     top:15%;
}
.tr_video_text h1 {
     font-size: 26px;
}
.tr_video_button a{
    display:none;
}
.tr_left{
    padding-right: 0px;
    padding: 0 15px 0 5px;
}
.tr_contact_right{
   margin-left: 0px;
}
/*Contact*/
.padding-lr {
padding-left: 8px !important;
padding-right: 8px !important;
}
/*Portfolio*/
.breadcrumb{
   text-align:center;
}
.tr_mix_grid .tr_port_one_third {
   float: left;
   width: 100%;
}
.tr_share_title{
   display:none;
}
.tr_share_icon {
   float: none;
}
}
 @media (max-width: 309px) {
 ol.tr_commentlist li .tr_comment_div a.tr_reply{
	padding-right: 0px;
}
 ol.tr_commentlist li .tr_cauthor_data{
	width: 100%;
}
 ul.tr_filter_title{
	padding: 0px;
}
ul.tr_filter_title li{
	padding: 10px 0px;
}
.tr_error_page .tr_error h2{
  font-size: 60px !important
}
.tr_post_slider {
float: left;
margin-top: 10px;
}
 .tr_small_logo {
float: left;
width: 100%;
}
.tr_small_logo img {
float: none;
margin: 0 auto;
}
.pagenav.fixedmenu{
display: none !important;
}
#main-nav{
	height: auto;
	width: 55%;
	margin: auto;
	border: 1px solid #eee;
	margin-bottom: 40px;
	min-width: 186px;
}
 .nav > li > a{
	padding: 2px 0px 2px 34px !important;
	font-size: 14px;
	font-family: Vidaloka !important;
	text-align: left;
}
.tr_twitter, .tr_facebook, .tr_printrest, .tr_dribbble {
   background: #bbb;
   width: 47px;
   height: 47px;
   border-radius: 90px;
}
 }
 @media (max-width: 276px) {
ol.tr_commentlist li .tr_comment_div a.tr_reply{
	padding-right: 0px;
}
 ol.tr_commentlist li .tr_cauthor_data{
	width: 100%;
}
ul.tr_filter_title{
	padding: 0px;
}
ul.tr_filter_title li{
	padding: 10px 0px;
}
.tr_error_page .tr_error h2{
  font-size: 60px !important
}
.tr_post_slider {
float: left;
margin-top: 10px;
}
.tr_small_logo {
float: left;
width: 100%;
}
.tr_small_logo img {
float: none;
margin: 0 auto;
}
.pagenav.fixedmenu{
display: none !important;
}
#main-nav{
height: auto;
width: 30%;
margin: auto;
border: 1px solid #eee;
margin-bottom: 40px;
min-width: 186px;
}
.nav > li > a{
	padding: 2px 0px 2px 34px !important;
	font-size: 14px;
	font-family: Vidaloka !important;
	text-align: left;
}
h1{
    /* font-size:40px;*/
 }
.tr_title h3{ 
    padding:0px;
    font-size:34px;
}
.tr_main_head .tr_head_title h2 {
    font-size: 43px !important;
}
.tr_title h3:before , .tr_title h3:after{
    display:none;
}
.tr-article-title p{
    font-size:17px;
    padding: 0px;
}
.tr_main_project_slider {
	display: none;
}
.tr_new_slider_box .bx-controls {
	display: none;
}
.tr_news_slider {
    display:none;
}
.tr_fade_in_slider {
	height: 150px;
}
.tr_min_height{
    min-height:100px;
}
.tr_video_text{
    top:7%;
}
.tr_video_text h1{
    font-size:24px;
}
.tr_video_button a{
    display:none;
    margin-left:0%;
    padding:0px;
}
.tr_left {
padding: 0 15px 0 5px;
}
.tr_team_image img {
    width: 96%;
}
.tr_twitter, .tr_facebook, .tr_printrest, .tr_dribbble{
   width: 42px;
   height: 42px;
}
.tr_twitter img, .tr_facebook img, .tr_printrest img, .tr_dribbble img{
   width: 100%;
}

.tr_left_block1{
   width:60%;
}
.tr-article-title {
   padding-top: 30px;
   padding-bottom: 40px;
}
.tr_quote_author{
      padding: 0px;
}
.tr_contact_right{
   margin-left: 0px;
}
.tr_contact_form {
  padding-bottom: 52%;
}
.tr_post_info{
  float:none;
  width:100%;
}
/*Contact*/
.padding-lr {
padding-left: 8px !important;
padding-right: 8px !important;
}
/*Portfolio*/
.breadcrumb{
   text-align:center;
}

.tr_mix_grid .tr_port_one_third {
  float: left;
  width: 100%;
}
.tr_port_recentdescription {
  width: 100%;
  margin-top: 59px;
}
.tr_share_title{
   display:none;
}
.tr_share_icon {
   float: none;
}
.js .photostack::after
{
padding: 13px 20px;
}
/*author*/
 .tr_post_title h2
 {
 font-size: 33px !important;
 }
}
 @media (min-width: 240px) {
 .js .photostack::after
{
padding: 13px 20px;
}
/*.tr_main_head .tr_head_title h2 {
    font-size: 42px !important;
}*/
 .tr_post_title h2
 {
 font-size: 30px !important;
 }
 }